body {
  /*padding-top: 70px;*/
  padding-bottom: 30px;
}

.projeto{
	position: absolute;
	padding-top: 70px;
    left: 28.7%;
}


.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}




.car{
	position: absolute;
	padding-top: 0px;
}

@media screen and (max-width: 600px) {
  .car {
    visibility: hidden;
  }
}