body {
  /*padding-top: 70px;*/
  padding-bottom: 30px;
  /*font-family: 'David Libre', serif;*/
}

.projeto{
	position: absolute;
	padding-top: 70px;
    /*left: 36.4%;*/
    left: 19.2%;
    font-size: 150%;
    width: 50px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.theme-showcase .navbar .container {
  width: auto;
}

.about {
	visibility: hidden;
}

nav{
	z-index: 1;
}

.foto{
  position: absolute;
  padding-top: 0px;
  top: 0%;
  visibility: visible;
  z-index: 3;
  left:5%;
  top: 100%;
}

.sobremim{
	position: absolute;
	padding-top: 0px;
	top: 0%;
	visibility: visible;
	z-index: 2;
  width: 15%;
  height: 15%;
  left:-45%;
  transition: left 1s;
}

.ativado{
  left:-20%;
}


.car{
	position: absolute;
	padding-top: 0px;
	z-index: -1;
}

@media screen and (max-width: 600px) {
  .car {
    visibility: hidden;
  }

  .sobremim{
  	visibility: hidden;
  }

  .about{
  	visibility: visible;
  }

  .projeto{
  	left: 0%;
  }
}